/* Grundläggande stil för sidan */
* {
  background-color: black;
  /* Inverterad hemsida, bra för mörkerseende */
  color: white;
  font-size: 20px;
  /* Använder större text så att kontrasten blir bättre */
  /*text-align: center;
  /* Centrerar alla texter */
}

/* Definition av olika background-color */
a,
p,
b,
article,
div,
h1,
h2,
h3,
ul,
li {
  background-color: #AAAA39;
}

li {
  text-align: left;
  /* Punktlista till vänster */
}

body {
  width: 90%;
  max-width: 1200px;
  margin: 10px auto;
  background-color: #AAAA39;
  /* En del objekt ärver inte background-color */
  font-family: Arial, sans-serif;
}

nav {
  text-align: left;
}

nav,
nav h1,
nav ul,
nav ul li a {
  background-color: #808015;
}

nav h1 {
  text-align: center;
}

footer,
footer a {
  background-color: #555500;
}

footer {
  margin-top: 20px;
  text-align: center;
  border-top: 1px solid #006293;
}

/* Grundläggande stil för meny */
.menu {
  list-style-type: none;
  /* Tar bort punkter */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 2px -2px gray;
}

/* Menyalternativ */
.menu li {
  display: inline-block;
}

/* Länkar i menyn */
.menu li a {
  display: block;
  text-align: left;
  padding: 14px 20px;
  text-decoration: none;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    /* Döljer menyn på mobiler */
    flex-direction: column;
    /* Byter radie för att visa alternativ vertikalt */
    width: 100%;
  }

  .menu.active {
    display: flex;
    /* Visar menyn när den är aktiv */
  }

  .hamburger {
    display: block;
    /* Visar hamburgermenyn */
    font-size: 30px;
    cursor: pointer;
  }

  .menu li {
    text-align: center;
    border-top: 1px solid #444;
  }
}

@media (min-width: 769px) {
  .hamburger {
    display: none;
    /* Döljer hamburgermenyn på större skärmar */
  }
}